#principal{
    float: left;
    width: auto;
    height: 500px;
    background: #FFF;
    border: solid 1px #A2A2A2;
    margin-right: 5px; 
}

#cronometro-tabela{
    width: 140px;
    height: 132px;
}

.cronometro{
    background: url('imagens/cronometro.png');
    text-align: center;
}

#cronometro{
    color: red;
    font-size: 30px;

}

#baloes_inteiros{
    font-size: 40px;
}

#baloes_estourados{
    font-size: 40px;
}

#jogo{
    float: left;
    width: 600px;
    height: 500px;
    background: url('imagens/cenario.png');
    background-position: bottom;
}