#principal{
    float: left;
    width: auto;
    height: 500px;
    background: #FFF;
    border: solid 1px #A2A2A2;
}

#cronometro-tabela{
    width: 140px;
    height: 132px;
}

.cronometro{
    background: url('imagens/cronometro.png');
}

#jogo{
    float: left;
    width: 600px;
    height: 500px;
    background: url('imagens/cenario.png');
    background-position: bottom;
}